body {
    background-color: #f0f0f0;
    font-family: Arial;
}

.quiz-box {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
}

#result {
    font-weight: bold;
}
